.container-grid {
  /* задали свойство grig контейнеру родителю */
  display: grid;
  /* промежуток между контейнерами */
  gap: 5px;
  /* объявили правило для ширины колонок */
  /* 1fr - равен одному 'кусочку', если в схеме их несколько фреймы равны между собой и при сложении дают всю ширину родителя */
  /* каждой новое записанное через пробел значение - это ширина одной колонки */
  /* сколько значений мы напишем через пробел - столько будет колонок */
  grid-template-columns: repeat(4, 1fr);
  /* если хотим значение колонок можно указать в пикселях */
  /* grid-template-columns: 25% 50% 50%; */
  /* указываем высоту всех строк  */
  grid-auto-rows: 50px;
}

.grid-item {
  padding: 10px;
  background-color: rgb(196, 255, 169);
}

.container-grid-min-max {
  display: grid;
  gap: 3px;
  /* ячейки будут растягиваться пока не получится добавить новую с минимальным размером 300px */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* высота ячейки */
  grid-auto-rows: 150px;
}

.grid-item-adaptive {
  background-color: rgb(255, 219, 133);
}
