* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px 30px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: orange;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

footer {
  width: 100%;
  height: 50px;
  background-color: lightgray;
}


h2 {
  margin: 0;
}


.container-products {
  padding: 0 40px;
  width: 100%;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.product-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-img {
  width: 80%;
}

.form-wrapper {
  margin-top: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-hide {
  display: none;
}
